<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <span id="logo">{{ name }}</span>
      </div>
      <div class="container">
        <div class="col-lg-12">
        <div class="message error">Message</div>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
      </ul>  
        <p>
          <a class="btn btn-primary btn-lg">BUTTON</a> 
          <a class="btn btn-warning">BUTTON</a>
          <a class="btn btn-danger btn-sm">BUTTON</a>
          <a class="btn btn-success btn-xs">BUTTON</a>
        </p>
  
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
        <table>
          <thead>
            <tr>
              <td>Column 1</td>
              <td>Column 2</td>
            </tr>
            <tbody>
              <tr>                            
                <td>Value 1</td>
                <td>Value 2</td>
              </tr>
               <tr>                            
                <td>Value 3</td>
                <td>Value 4</td>
              </tr>
            </tbody>
          </thead>
        </table>
        </div>
        </div>
    </div>
  </body>
</html>
