<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div id="wrapper">
      {% block content %}
      {% endblock content %}      
    </div>
  </body>
</html>
